<div class="app">
    <nav class="navbar navbar-expand-lg navbar-light bg-light shadow-sm">
        <div class="container-fluid">
            <!-- Logo -->
            <a class="navbar-brand" href="#">
                <img src="https://via.placeholder.com/150x40?text=RFQ+Logo" alt="RFQ Logo">
            </a>

            <!-- Mobile Toggle Button -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNav">
                <!-- Navigation Links -->
                <ul class="navbar-nav me-auto">
                    <li class="nav-item"><a class="nav-link" routerLink="/home"><i class="fas fa-home"></i> Home</a>
                    </li>
                    @if (userSrv.loggedUserData?.role == 'Customer') {
                    <li class="nav-item"><a class="nav-link" href="#"><i class="fas fa-file-contract"></i>Create
                            RFQs</a></li>
                    }
                    @else {
                    <li class="nav-item"><a class="nav-link" href="#"><i class="fas fa-file-contract"></i> RFQs</a></li>
                    }
                    <li class="nav-item"><a class="nav-link" href="#"><i class="fas fa-industry"></i> Suppliers</a></li>
                    <li class="nav-item"><a class="nav-link" href="#"><i class="fas fa-handshake"></i> Contracts</a>
                    </li>
                </ul>

                <!-- Right Navbar -->
                <ul class="navbar-nav">
                    <!-- if User is logged In  -->
                    @if (userSrv.loggedUserData) {
                    <li class="nav-item">
                        {{userSrv.loggedUserData.userName}}
                    </li>
                    <li class="nav-item" (click)="onLogout()">
                        <a class="btn btn-primary btn-custom mx-1" routerLink="/login"><i class="fas fa-user"></i>
                            Logout</a>
                    </li>
                    }
                    @else if(router.url !== '/login') {
                    <!-- If User is Not Logged In -->
                    <li class="nav-item">
                        <a class="btn btn-outline-primary btn-custom mx-1" routerLink="login"><i
                                class="fas fa-sign-in-alt"></i> Login</a>
                    </li>
                    }
                </ul>
            </div>
        </div>
    </nav>
    <div class="rest-part">
        <router-outlet />
    </div>
</div>